* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.d-none {
    display: none;
}

form {
    width: 400px;
    margin: 3rem auto;
    border: 2px solid black;
    padding: 2rem;
}

form div * {
    margin-bottom: 1rem;
    width: 95%;
    padding: .5rem;
}

form button {
    width: 49.5%;
    padding: 1rem;
}

.content__container {
    background-color: rgb(255, 255, 255);
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    box-shadow: 10px 5px 5px rgb(213, 213, 213);
}

.header__title {
    margin: 2rem;
}

.button {
    background-color: rgb(90, 143, 153);
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border-color: rgb(42, 82, 118);

}

.logoutBtn {
    margin: 2rem;
    padding: 1rem;
}

.story__container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5rem;

}

.imgSize {
    height: 10rem;
    margin-top: 1rem;
}

.jumbotron {
    background-image: url("./images/SuperMarioBrosWonder-1.jpg");
    height: 30rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}